#map {
    height: 100%;
}

#carousel{
    height: 100%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffd480;
}

.bg-1 { 
       background-color: #ffd480;
    }