<div class="row">
  {% for cafe in cafes %}
    <div class="col-lg-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" style="height: 15rem;" src="{% if cafe.image_url %}{{cafe.image_url}}{% else %}/static/img/flat-coffee-cup-icon.jpg{% endif %}" alt="Photo">
        <div class="card-body">
          <h4 class="card-title">{{cafe.name}}</h4>
          <p class="card-text">{{cafe.address}}</p>
          <a href="/cafes/{{cafe.id}}" class="btn btn-primary">Узнать больше</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>