<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ac7339;">
  <a class="navbar-brand" href="/">
    <img src="/static/img/Coffee-bean.ico" width="30" height="30" class="d-inline-block align-top" alt="">    
  </a>
        
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/coffee/">Немного о кофе</a>
      </li>
    </ul>
    {% if user.first_name %}
      <form class="form-inline my-2 my-lg-0" action="/logout">
        <span class="navbar-text"> Привет, <b>{{user.first_name}}</b>!</span>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Выход</button>
      </form>
    {% else %}
      <form class="form-inline my-2 my-lg-0" method="POST" action="/login">
        <input class="form-control mr-sm-2" type="text" placeholder="Email" name="email">
        <input class="form-control mr-sm-2" type="password" placeholder="Пароль" name="password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Вход</button>
      </form>
    {% endif %}
  </div>
</nav>